body{
    font-family: font-family 'Oswald', sans-serif;
    margin: 0;
    background: hsl(210, 44%, 96%);
    
}
h1{
    font-size: 65px;
    padding-left: 10px;
   
}

h2{
    font-size: 55px;
    padding-left: 10px;
    margin-top: -45px
}
p{
    font-family: 'Nunito Sans', sans-serif;
}
span{
    color:#ff6d59;
    
}

.section-1{
    display: flex;

}

.left-sec{
    width: 40%;
    margin-left: 120px;
    margin-top: 80px;
}

.right-sec{
    width: 50%;
   
    
 
}
.right-sec img{
    width: 400px;
    margin-left: 150px;

}


.heading{
    border-left: 5px solid rgb(61, 89, 168);
    margin-right: 40px;
}

.section-1 a{
    text-decoration: none;
    background-color: rgb(255, 10, 10);
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.left-sec p{
    margin-top: 30px;
    margin-bottom: 30px;
    
}





.section-2 h1{
    text-align: center;
    margin-top: 100px;
    
}

.card{
    display: flex;
    margin: 0 90px 0 90px;
}
section .card-1{
   background-color: rgb(141, 210, 221);
   width: 30%;
   margin: 0 30px 0 30px;
   padding: 20px 20px 20px 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   
   
}


section .card-1 img{
    width: 150px;
}

.section-2 .card-bg-2{
    background-color: yellowgreen;
}

.section-2 .card-bg-3{
    background-color: rgb(211, 208, 63);
}







.section-3{
    display: flex;
    margin-bottom: 100px;
}


.section-3 .left-sec img{
    width: 400px;

}

.section-3 .right-sec{
   margin-top: 150px;
   margin-left: -70px;
   width: 650px;
   margin-bottom: 50px;
  
    
}
.section-3 .right-sec a{
    text-decoration: none;
    background-color: rgb(255, 10, 10);
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    
  
}

.section-3 .right-sec p{
    margin-bottom: 30px;
    line-height: 25px;
    
}







.section-4{
    display: flex;
    margin-bottom: 100px;
}
.section-4 .left-sec img{
    width: 400px;
    
   

}

.section-4 .right-sec{
    width: 580px;
    margin-top: 150px;
    margin-left: 120px;
     
 }
 .section-4 .right-sec a{
    text-decoration: none;
    background-color: rgb(255, 10, 10);
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    
  
}

.section-4 .right-sec p{
    margin-bottom: 30px;
    line-height: 25px;
    
}




.section-5{
    margin-bottom: 150px;
}

.section-5 h1{
    
    color: rgb(34, 36, 37);
    text-align: center;
    
}

.neptune{
    display: flex;
    margin: -50px;
    
}
 
.neptune img{
    width: 550px;
    height: 350px;
    border-radius: 30px;
    margin-left: 50px;
}

.neptune span{
    font-size: 25px;
    font-weight: 400;
    color: black;
   
}
.neptune .right-sec{
    width:500px;
    margin: 90px 0 0 80px;
}

.section-5 .right-sec a{
    text-decoration: none;
    background-color: rgb(255, 10, 10);
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
}

.neptune p{
  
    margin-bottom: 30PX;
}




footer{
    background-color: rgb(39, 38, 100);
    text-align: center;
    color: aliceblue;
    padding: 10px 0 10px 0;
}

.last-part p{
    color: rgb(179, 176, 171);
}

.last-part h3{
    font-size: 30px;
}



